@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --overlay: 0 0% 10%;
    --table-odd: 220, 15%, 95%;
    --table-even: 220, 30%, 90%;
    --tag: 0 0% 9%;
    --tag-foreground: 0 0% 98%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --menu-border: 0 0% 69.8%;
    --code-block: 0 84.2% 60.2%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --overlay: 0 0% 45%;
    --table-odd: 220, 20%, 20%;
    --table-even: 220, 25%, 25%;
    --tag: 0 0% 9%;
    --tag-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --menu-border: 0 0% 44.9%;
    --border: 0 0% 35.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply relative box-border m-0 min-h-screen bg-background text-foreground font-prompt font-light not-italic tracking-normal;
    font-size: clamp(16px, 2.5vw, 18px);
    font-optical-sizing: auto;
    line-height: 1.8;
  }

  body.lock {
    @apply h-full overflow-clip;
  }

  ul {
    @apply list-disc pl-8 leading-tight whitespace-normal;
  }

  ol {
    @apply list-decimal pl-8 leading-tight whitespace-normal;
  }

  li {
    @apply py-2;
  }

  li > ol,
  li > ul {
    @apply pt-2;
  }

  li:has(ol),
  li:has(ul) {
    @apply pb-0;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-semibold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-medium tracking-tight;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-medium tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-medium tracking-tight;
  }

  pre {
    @apply rounded bg-muted overflow-x-scroll px-[1rem] py-[1rem] font-mono font-medium;
  }

  code:not(pre code) {
    @apply bg-muted px-1;
  }

  svg {
    @apply select-none;
  }

  details {
    @apply border border-border rounded-lg;
  }

  summary {
    @apply select-none cursor-pointer pl-2;
  }

  p:has(img) {
    @apply flex justify-center py-4 w-auto;
  }

  p:has(img) > img,
  p > a:has(img) {
    @apply rounded-md;
  }

  table,
  th {
    @apply mx-auto table-auto bg-table-odd text-center;
  }

  tr:nth-child(even) {
    @apply bg-table-even;
  }

  table td {
    @apply px-4 py-2;
  }

  table,
  th,
  tr,
  td {
    @apply border border-border;
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
