.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: 2px solid hsl(var(--menu-border));
}

.menu-overlay {
  position: fixed;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

.menu-overlay.active {
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  opacity: 1;
}

.menu-group {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  z-index: 1030;
}

.theme-toggle-btn-wrapper {
  width: 3rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.theme-toggle-btn-wrapper.active {
  display: none;
}

.menu-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1020;
  background-color: transparent;
  transition:
    all 0.4s cubic-bezier(0.32, 0.72, 0, 1),
    height 0.6s cubic-bezier(0.32, 0.72, 0, 1);
}

.menu-container.active {
  width: calc(100vw - (2 * 1rem));
  height: calc((3 * 3rem) + 7rem + 1rem);
  /* min-width: 380px; */
  overflow: hidden;
  border-radius: 1rem;
  padding-bottom: 5rem;
  cursor: default;
  z-index: 1010;
  background-color: hsl(var(--background));
}

.menu-item {
  position: relative;
  width: 1.5rem;
  height: 0.25rem;
  margin: 0.1rem 0;
  padding: 0;
  z-index: 1010;
  font-size: 0;
  user-select: none;
  background-color: hsl(var(--primary));
  transition: all 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

.menu-container.active .menu-item {
  width: calc(90vw - 3rem);
  height: 1rem;
  overflow: hidden;
  margin: 0.4rem 0;
  padding: 1rem 0;
  background-color: hsl(var(--secondary));
  color: inherit;
  font-size: 1rem;
}

.about-me {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  cursor: default;
  bottom: 1rem;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

.menu-container.active .about-me {
  padding: 1.5rem 1.2rem;
  opacity: 1;
}

.prpb-icon,
.github-icon,
.linkedin-icon {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  display: block;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

.github-icon,
.linkedin-icon {
  height: 1.6em;
  width: 1.6em;
}

.menu-container.active .prpb-icon,
.menu-container.active .github-icon,
.menu-container.active .linkedin-icon {
  opacity: 1;
}
