---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <div
    class="px-4 md:px-[15%] xl:px-[22.5%] flex flex-col items-center break-word text-wrap"
  >
    <div class="pt-12 pb-4 select-none text-center">
      <div class="text-7xl font-semibold pb-6">About</div>
      <div class="hidden sm:block">
        The story behind what you see here - Why I created this website
      </div>
      <div class="block sm:hidden">
        <div>The story behind what you see here</div>
        <div>Why I created this website</div>
      </div>
    </div>
    <div class="pb-4 md:pb-6 max-w-[1140px]">
      <p>
        PRPB เป็นเว็บไซต์ที่ผมจะนำความรู้เกี่ยวกับ AWS
        ที่ผมได้เรียนรู้มาเขียนสรุปเป็นบทความแล้วนำมาลงเอาไว้ครับ และด้วยความที่
        PRPB นี้เป็นเว็บไซต์ที่ผมทำคนเดียว
        ดังนั้นเนื้อหาของบทความที่จะนำมาลงก็จะขึ้นอยู่กับตัวผมเป็นหลักเลยว่า ณ
        ตอนนั้นกำลังสนใจเรียนเรื่องอะไรอยู่
      </p>
      <p>เว็บไซต์ PRPB นี้ผมทำขึ้นมาด้วยเหตุผล 2 อย่าง</p>
      <h3
        class="font-semibold text-xl"
        id="1-เป็นเสมือนกับ-memo-ไว้ให้ตัวเองในอนาคตอ่าน"
      >
        1. เป็นเสมือนกับ memo ไว้ให้ตัวเองในอนาคตอ่าน
      </h3>
      <p>
        การทำงานเป็น software engineer (ไม่ว่าจะ frontend, backend, full-stack,
        devops, ฯลฯ) มีสิ่งที่หลีกเลี่ยงไม่ได้อยู่อย่างหนึ่งก็คือการ
        “ได้หน้าลืมหลัง” ความรู้อะไรที่เราเคยเรียนมา
        ถ้าไม่ได้ใช้ไปซักระยะเวลาหนึ่งก็จะลืม
        ผมไม่แน่ใจว่าเรื่องนี้เกิดขึ้นกับคนอื่น ๆ หรือเปล่า
        แต่อย่างน้อยมันก็เกิดขึ้นกับผมครับ
      </p>
      <p>
        ผมจึงเลือกที่จะจดบันทึกความรู้ที่เรามีอยู่ ณ เวลานั้น ๆ
        เอาไว้ในรูปแบบของบทความ
        เผื่อว่าสักวันหนึ่งในอนาคตเมื่อผมมีความจำเป็นจะต้องใช้ความรู้เหล่านี้อีกครั้ง
        อย่างน้อยผมก็จะมีเว็บไซต์นี้เป็นแหล่งข้อมูลที่พึ่งพาได้ (สำหรับผม
        ส่วนสำหรับคนอื่นด้วยหรือเปล่าอันนี้ก็ไม่แน่ใจเหมือนกัน) ครับ
      </p>
      <h3
        class="font-semibold text-xl"
        id="2-เพื่อแบ่งปันความรู้ให้กับผู้ใช้-aws-คนอื่น-ๆ"
      >
        2. เพื่อแบ่งปันความรู้ให้กับผู้ใช้ AWS คนอื่น ๆ
      </h3>
      <p>
        นี่อาจจะเป็นแค่ความคิดของผมคนเดียวก็ได้ แต่ผมรู้สึกว่าเทคโนโลยี cloud
        ยังไม่เป็นที่แพร่หลายในไทยมากซักเท่าไหร่
      </p>
      <p>
        เวลาที่ผมค้น google เพื่อหาข้อมูลเกี่ยวกับ AWS
        ผลลัพธ์ส่วนใหญ่ที่ผมเจอมักจะเป็นบทความหรือวิดีโอภาษาอังกฤษหรือไม่ก็ญี่ปุ่น
        น้อยมากที่จะเจอภาษาไทย (ส่วน cloud
        ของเจ้าอื่นผมยังไม่เคยได้ลองใช้ก็เลยไม่ทราบ ตรงนี้ต้องขออภัยด้วยครับ)
        ผมจึงคิดว่าอย่างน้อยก็อยากให้บทความที่ลงในเว็บนี้ได้เป็นส่วนหนึ่งของ
        resource ภาษาไทย เพื่อขยาย community ของผู้ใช้ AWS
        ในไทยออกไปอีกสักนิดนึงก็ยังดีครับ
      </p>
      <p>
        แล้วก็
        ถ้าเป็นไปได้ผมก็จะพยายามเขียนบทความในหัวข้อที่ยังไม่มีใครเขียนหรือมีอยู่น้อยมาก
        ซึ่งถ้าใครมีหัวข้ออะไรที่อยากให้ผมเขียนเป็นบทความก็สามารถแจ้งเข้ามาได้ผ่านช่องทางติดต่อที่ผมวางไว้ตรง
        header (หรือเมนูด้านล่าง ถ้าใช้เวอร์ชันมือถือ) ได้เลยครับ
      </p>
      <hr />
      <p>
        อย่างที่บอกไปเบื้องต้นว่าเนื้อหาในบทความที่นำมาลงนั้นจะมาจากเรื่องต่าง ๆ
        ที่ผมได้เรียนรู้มา
        ดังนั้นจึงมีโอกาสที่เนื้อหาในบทความที่เผยแพร่จะมีข้อผิดพลาดหรือเป็นข้อมูลเก่าอยู่บ้าง
        ซึ่งผมก็จะพยายามให้เกิดเรื่องแบบนี้น้อยที่สุดครับ
        แต่ถ้าหากมีท่านใดเข้ามาอ่านบทความของผมและเห็นว่ามีจุดที่ข้อมูลไม่ถูกต้องอยู่
        สามารถแจ้งเข้ามาให้ผมทำการแก้ไขได้นะครับ ผมจะรู้สึกขอบคุณมาก ๆ เลยครับ
        ผมยินดีจะแก้ไขทั้งความรู้ความเข้าใจที่ตัวเองมีอยู่
        และเนื้อหาในบทความที่เผยแพร่ออกไปให้ถูกต้องตามคำแนะนำของทุก ๆ ท่านครับ
      </p>
    </div>
  </div>
</Layout>

<style>
  p,
  h3 {
    padding: 1rem 0;
  }
</style>
