---
import Layout from "@/layouts/Layout.astro";
import { BlogList } from "@/components/blogs/BlogList";
---

<Layout title="Blogs">
  <div class="w-full flex flex-col items-center">
    <div class="pt-12 sm:pb-4 select-none text-center">
      <div class="text-7xl font-semibold pb-6">Blogs</div>
      <div class="hidden sm:block">
        Welcome to my blog collection - dive in and explore what interests you
      </div>
      <div class="block sm:hidden">
        <div>Welcome to my blog collection</div>
        <div>dive in and explore what interests you</div>
      </div>
    </div>
    <BlogList client:load />
  </div>
</Layout>
