---
import "@/styles/globals.css";
import "@fontsource/prompt/300.css";
import "@fontsource/prompt/400.css";
import "@fontsource/prompt/500.css";
import "@fontsource/prompt/600.css";
import "@fontsource/prompt/700.css";
import { Header } from "@/components/header/Header";
import { Footer } from "@/components/footer/Footer";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content="AWS, blog, cloud" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandexbot" content="index, follow" />
    <meta
      name="sitemap"
      content={import.meta.env.PUBLIC_SITE_URL + "/sitemap-index.xml"}
    />
    <title>{title + " | PRPB"}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="PRPB" />
    <link rel="manifest" href="/site.webmanifest" />
    <script>
      const preferredTheme =
        localStorage && localStorage.getItem("PRPB_THEME")
          ? localStorage.getItem("PRPB_THEME")
          : window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";

      if (preferredTheme === "dark")
        document.documentElement.classList.add("dark");

      if (localStorage) {
        const observer = new MutationObserver(() => {
          localStorage.setItem(
            "PRPB_THEME",
            document.documentElement.classList.contains("dark")
              ? "dark"
              : "light",
          );
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>
  <body>
    <header>
      <Header client:idle />
    </header>
    <main>
      <div class="px-2 pt-0 md:pt-[3.4rem] relative">
        <slot />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    height: 100%;
    margin-bottom: auto;
  }
</style>
