---
import "@/styles/globals.css";
import "@fontsource/prompt/300.css";
import "@fontsource/prompt/400.css";
import "@fontsource/prompt/500.css";
import "@fontsource/prompt/600.css";
import "@fontsource/prompt/700.css";
import { Header } from "@/components/header/Header";
import { Footer } from "@/components/footer/Footer";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title + " | PRPB"}</title>
    <script>
      const preferredTheme =
        localStorage && localStorage.getItem("PRPB_THEME")
          ? localStorage.getItem("PRPB_THEME")
          : window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";

      if (preferredTheme === "dark")
        document.documentElement.classList.add("dark");

      if (localStorage) {
        const observer = new MutationObserver(() => {
          localStorage.setItem(
            "PRPB_THEME",
            document.documentElement.classList.contains("dark")
              ? "dark"
              : "light",
          );
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>
  <body>
    <header>
      <Header client:idle />
    </header>
    <main>
      <div class="px-2 pt-0 md:pt-[3.4rem] relative">
        <slot />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    height: 100%;
    margin-bottom: auto;
  }
</style>
