name: Test
run-name: Build and test '${{ github.head_ref }}' (${{ github.sha }})

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    if: startsWith(github.head_ref, 'dependabot/') == false
    timeout-minutes: 60
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Cache dependencies
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-playwright-
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm run test
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
          overwrite: true
  validate-tag:
    if: startsWith(github.head_ref, 'dependabot/') == false
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check blog updates
        run: |
          echo "updated_blog_count=$(git diff --name-only origin/main...HEAD | grep 'src/pages/blog/' | wc -l)" >> "$GITHUB_ENV"
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        if: ${{ env.updated_blog_count > '0' }}
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@v4
        if: ${{ env.updated_blog_count > '0' }}
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Init Terraform
        id: init-terraform
        uses: ./.github/actions/init-terraform
        if: ${{ env.updated_blog_count > '0' }}
        with:
          s3-bucket-name: ${{ vars.TF_REMOTE_STATE_S3_BUCKET }}
          dynamodb-table-name: ${{ vars.TF_REMOTE_STATE_DYNAMODB_TABLE }}
          account-id: ${{ secrets.AWS_ACCOUNT_ID }}
          tfvars-file: tfvars/production.tfvars
      - name: Validate Tag
        uses: ./.github/actions/validate-tag
        if: ${{ env.updated_blog_count > '0' }}
  build:
    runs-on: ubuntu-latest
    needs:
      - test
      - validate-tag
    if: ${{ needs.test.result == 'success' && needs.validate-tag.result == 'success' }}
    environment: staging
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Cache dependencies
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
